<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>

<div class="contenido" >
	<div class="container" >
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="alert alert-info" *ngIf="getSend()">Enviando, esto puede tardar..</div>
				<div class="alert alert-success" *ngIf="success">Archivo enviado correctamente!</div>
				<div class="alert alert-danger" *ngIf="!getNoError()">{{errorInfo}}</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
					<div id="summit_titulo">Sube los archivos</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	<form [formGroup]="formTemplate">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
					<input formControlName="title" type="text" class="form-control" id="mCoffeTittle" name="title" placeholder="Titulo"  ngModel>
					<textarea formControlName="description" class="form-control" id="descriptionArea" placeholder="Descripcion" rows="5" ngModel></textarea>
					<label>
            <input type="checkbox" formControlName="terms"> Acepto los términos y condiciones
          </label>
					<div style="">
						<div *ngIf="checkSize()" class="alert alert-danger">Compruebe que su archivo pesas menos de 15 Mega Bytes</div>
						<div *ngIf="checkType()" class="alert alert-danger">Compruebe que el formato de su archivo pptx,ppt,doc o docx</div>
						<input type="file" style="width:100%" class="filestyle" id="template" (change)="onFileChange($event)" #fileInput multiple>
					</div>


			</div>
			<div class="col-md-2" style="">

				<div style="margin-top:10px;">
					<button type="submit"  [disabled]="formTemplate.invalid || loading" class="btn btn-primary boton_grande" (click)="onSubmit()"> Enviar <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
					<button type="button"  class="btn btn-dark disabled boton_grande"(click)="clearFile()">Cancelar</button>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>

		<!--{{formTemplate.value | json}} -->
	</form>
	</div>
</div>
