.filestyle{
  font-size: 15px;
  border:solid 1px #c7c7c7;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;

}
#summit_titulo{
  font-size: 20px;
  color: #2057a2;
}
