<div class="modal fade" id="mSummitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">M-Summit</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div  class="modal-body">
				<div class="alert alert-success" *ngIf="getNoError() && getSend()">Archivo enviado!</div>
				<div class="alert alert-danger" *ngIf="!getNoError() && getSend() && !loading">Se produjo un error al enviar</div>
				<div class="row">
					<div class="col-md-12">
					<form [formGroup]="formTemplate">
					<input type="file" id="template" (change)="onFileChange($event)" #fileInput>
					  <button type="submit" [disabled]="formTemplate.invalid || loading" *ngIf="!getNoError() || !getSend()" class="btn btn-success float-right" (click)="onSubmit()"> Enviar <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
					</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<a class="float-none" target="_self" href="example.com/assets/eventos/asebal.jpg" download="asebal.jpg">Template.ppt</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearFile()" >Cerrar</button>
			</div>
		</div>
	</div>
</div>