<div id="main" style="background: url('./assets/fondos/1.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
<div class="contenido">

  <div class="contenido" >
    <div class="container" >
      <div class="row">
        <div class="col-lg" style="height:100px">
        </div>
      </div>
    </div>
  </div>
  <div class="contenido" style="background: rgba(40, 80, 130,0.5)">
		<div class="container" >
		<div class="row">
        <div class="col-md-2" >
        </div>
				<div class="col-md-8 " style="text-align:center;color:white">
          <h1>Bienvenido a M<span style="color:#a11212">W</span>ork!</h1>
        </div>
        <div class="col-md-2" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" >
        </div>
				<div class="col-md-8 " style="text-align:center;color:white">
          <h3>{{message}}</h3>
        </div>
        <div class="col-md-2" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-2" >
        </div>
				<div class="col-md-8 " style="text-align:center;color:white">
          <h5>{{message2}}</h5>
        </div>
        <div class="col-md-2" >
        </div>
      </div>

    </div>
  </div>
  <div class="contenido" >
    <div class="container" >
      <div class="row">
        <div class="col-lg" style="height:100px">
        </div>
      </div>
    </div>
  </div>

</div>

</div>
