
<div id="modalRegistro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!--<div class="modal-header">
        <h3>Registro de Usuario</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>-->
      <div class="modal-body" >

        <div *ngIf="esInicio" class="form-group" style="height:470px">

          <div class="form-row">
              <legend>Paso 1: Registro</legend>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6" style="text-align:center">
              ¿Cómo quierés registrarte?
              </div>
              <div class="col-md-3">
              </div>
            </div>
            <div class="row" style="margin-top:20px">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              	<button type="button" class="btn btn-primary" id="boton_grande"  (click)="botonClick(0)">Persona</button>
              </div>
              <div class="col-md-4">
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              	<button type="button" class="btn btn-primary" id="boton_grande"  (click)="botonClick(1)">Empresa</button>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </div>
        <!--<div class="btn-group btn-group-toggle " id="botones_cabecera" data-toggle="buttons">
          <label class="btn btn-secondary botonSeleccionModal" (click)="botonClick(0)">
            <input id="toggle_persona" type="radio" name="options" id="option2" autocomplete="off"> Persona
          </label>
          <label class="btn btn-secondary botonSeleccionModal" (click)="botonClick(1)">
            <input type="radio" name="options" id="option3" autocomplete="off"> Empresa
          </label>
        </div>-->


        <div *ngIf="esPersona" class="form-group" > <!--Formulario de persona-->
          <app-register-persona #isValidPersona></app-register-persona>
        </div>

        <div *ngIf="esEmpresa"  class="form-group" > <!--Formulario de empresa-->
          <app-register-empresa></app-register-empresa>
        </div>

      </div>


    </div>
  </div>
</div>
