@import "bootstrap-social.less";
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation" style="padding:0;border:white">
    <div class="container" style="padding:0;border:white">
        <img src="assets/img/logo.png" >

        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">Home</a></li>
                <li class="nav-item"><a [routerLink]="['/nosotros']"  class="nav-link">Porqué elegirnos?</a></li>
                <li class="nav-item"><a [routerLink]="['/eventos']"  class="nav-link">Comencemos a organizarlo</a></li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">

                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="px-3 py-2">
                           <form class="form" role="form">
                                <div class="form-group">
                                    <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalRegistro">Register</a></small>
                                </div>

       <a class="btn btn-block btn-social btn-lg btn-linkedin">
    <span class="fa fa-linkedin"></span> <small><a>Sign in with linkedin</a></small>
  </a>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot password</h3>
                <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Reset your password..</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="modalRegistro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h3>Registro</h3>
                <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

              <div class="col-md-12 col-md-offset-1">
                <div class="well well bs-component">
                 <form class="form-horizontal" >
                    <fieldset>
                      <div class="form-group" >
                        <label for="thumbnail" class="col-xs-2 control-label">Nombre</label>
                        <div class="col-xs-2 col-md-4" >
                          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ngModel>
                        </div>

                        <label for="imagelink" class="col-lg-1 control-label">Apellido</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ngModel>
                        </div>
                      </div>
<!--
                      <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">Fecha Nacimiento</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Título" ngModel>
                        </div>

                        <label for="title" class="col-lg-1 control-label">Telefono</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" ngModel>
                        </div>

                      </div>
-->

                      <div class="form-group">

                        <!--<label for="title" class="col-lg-2 control-label">Celular</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" ngModel>
                        </div>
-->
                        <label for="title" class="col-lg-1 control-label">Email</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
                        </div>

                        <label for="title" class="col-lg-1 control-label">Password</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
                        </div>


                      </div>

                  <!--    <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">Tipo Documento</label>
                        <div class="col-xs-3 col-md-4">
                          <select type="text" class="form-control" id="tipo_documento_id" name="tipo_documento_id" placeholder="Tipo Documento" ngModel>
                              <option value='1'>DNI</option>
                              <option value='2'>Libreta Enrolamiento</option>
                              <option value='3'>Pasaporte</option>
                          </select>
                        </div>

                        <label for="title" class="col-lg-1 control-label">N° Doc.</label>
                        <div class="col-xs-3 col-md-4">
                          <input type="text" class="form-control" id="nro_documento" name="nro_documento" placeholder="N° Documento" ngModel>
                        </div>

                      </div>

                      <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">Nivel Estudio</label>
                        <div class="col-xs-3 col-md-4">

                          <select type="text" class="form-control" id="nivel_estudio_id" name="nivel_estudio_id" placeholder="Nivel Estudio" ngModel>
                              <option value='1'>Universitario</option>
                              <option value='2'>Secuendario</option>
                              <option value='3'>Primario</option>
                          </select>
                        </div>

                      </div>-->
                    </fieldset>
                  </form>
                </div>
              </div>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
