nav.navbar {
    background-color: #0a5686;
    height:auto;
}

.nav-item{
  background-color: #0a5686;
  color:white;
}
.nav-brand{
  margin:0;
  padding:0;
  margin-right:30px;
}
.nav li a {
 color:white;
 text-decoration:none;
 padding: 3px;
 display:block;
 height: 100%;
 border: none;
 font-size: 16px;
/*text-align: center;*/
}
.nav li a:hover {
  font-size: 17px;
  font-weight: bold;
    text-shadow: 2px 2px 8px black;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}


.botonlogin {
    background-color: white; /*#4CAF50; /* Green */
    color: LightSeaGreen;
    padding-right: 15px;
}
.botonlogin:hover, .botonlogin:focus,.botonlogin.active, .botonlogin.dropdown-toggle:focus{
  /*  background-color: white;
    color: #4CAF50;*/
    	border: 3px double LightSeaGreen;
}
.botonlogin:active{
	/*background-color: white;
    color: #4CAF50;
	border: 2px double #4CAF50;*/

  	border: 3px double LightSeaGreen;
}

.fa-login{
  color:LightSeaGreen;
}
