
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->

  <!--  <div id="footer">-->
            <!--  <a class="btn btn-social-icon btn-twitter "><span class="fa fa-twitter"></span></a>

            <a href="" target="_blank"><div id="icon"><img src="assets/icon/facebook.png" /></div></a>
            <a href="" target="_blank"><div id="icon"><img src="assets/icon/instagram.png" /></div></a>
            <a href="" target="_blank"><div id="icon"><img src="assets/icon/twitter.png" /></div></a>
            <div id="icon"><img src="assets/icon/whatsapp.png" /></div>
            <div id="icon"><img src="assets/icon/youtube.png" /></div>-->
  <!--    </div>-->


  <div id="diagonal_abajo" class="contenido" >
      <div class="container" id="texto_abajo" >
        <div class="row">
          <div class="col-md float-left" style="text-align:center;margin-top:10px" >

              <a href="https://www.instagram.com/mwork_meetorg/" target="_blank">
                    <span class="fa fa-instagram"></span>
              </a>
              <a href="https://twitter.com/MWork_MeetOrg" target="_blank">
                    <span class="fa fa-twitter"></span>
              </a>
              <a href="https://www.facebook.com/MWorkMeetingOrganization/" target="_blank">
                <span class="fa fa-facebook" style="margin-left:0px"></span>
              </a>


          </div>
          <div class="col-md float-right" style="text-align:center;margin-top:10px" >
                <h6>BUENOS AIRES - ARGENTINA</h6>
                +549 2392 615030<br>
                Todos los Derechos Reservados © MWork 2018
          </div>

        </div>

      </div>
  </div>
