<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">M-Coffee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div  class="modal-body">
				<div class="row">
					<div class="col-md-6" style="overflow-y:auto;height:400px">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center" id="participantes" *ngFor="let Participant of ParticipantList">
							
								<p>{{Participant.name}}</p>
								<!--<button *ngIf="Participant.status==0" type="button" (click)="invitation(Participant.id,Participant.status)" class="btn btn-danger">Cancelar Invitacion</button>-->
								<button *ngIf="Participant.status==1 "type="button" (click)="invitation(Participant.id,Participant.status)" class="btn btn-primary">Invitar</button>
								<button *ngIf="Participant.status==2" type="button" class="btn btn-dark disabled">No disponible</button>

							</li>
						</ul>
					</div>
					<div class="col-md-6" id="instruccion">
						<p>Ud. tiene la opción de generar un contacto "Persona a Persona" para dialogar en privado con alguno de los participantes, café mediante.</p>
						<p>1. Elija una Persona que se encuentre disponible (en azul) y oprima el botón "invitar".</p>
						<p>2. Corrobore "aquí" si la persona aceptó la invitación.</p>
						<p>3. 72 hs luego de enviada la invitación, si aún no ha sido aceptada, queda sin efecto y Ud. puede elegir otra Persona.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
