<div id="main">
	<div class="contenido" >
		<div class="container" >
			<div class="row">
				<div class="col-lg">
					<button type="button" class="btn btn-primary" id="boton_grande" data-toggle="modal" data-target="#exampleModal">Invitar otra Persona</button>
				</div>
			</div>
			<button type="button" class="btn btn-primary" id="boton_grande" data-toggle="modal" data-target="#mSummitModal">M-Summit</button>
			<modal-coffee></modal-coffee>
			<msummit></msummit>
			<m-summitDisplay></m-summitDisplay>
		</div>
	</div>
</div>