<div id="main" style="">


<div id="diagonal" class="contenido" style="background: url('./assets/fondos/10.jpg') no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="container" >
      <div class="row">
          <div class="col-sm-2" >
          </div>
          <div class="col-sm" >
            <div class="text_superior">
              <p>
                Vamos a brindarte la mejor forma de organizar tus eventos para que alcances mayores oportunidades de relación.
                Porque nos encanta desafiar las estructuras diseñando propuestas innovadoras y somos capaces de hacerlo con creatividad.
              </p>
            </div>
          </div>
          <div class="col-sm-2" >
          </div>
      </div>
    </div>
</div>
<div class="contenido" style="">
   <div class="container">
        <div class="row">
          <div class="col-sm">
          </div>
            <div class="col-md-3" >

              <div class="div-img">
                <img class="img_redonda"  src="./assets/nosotros/fer.jpg">
                <div class="text_imagen">
                  <h5>Fernanda Martinez Micakoski</h5>
                  <p>Analitycs<br>Innovation</p>
                </div>
              </div>

            </div>
            <div class="col-md-3" >
              <div class="div-img">
                <img class="img_redonda"  src="./assets/nosotros/lucas.jpg">
                <div class="text_imagen">
                  <h5>Lucas Blasco</h5>
                  <p>FullStack Developer</p>
                </div>
              </div>
            </div>
            <div class="col-md-3" >
              <div class="div-img">
                <img class="img_redonda"  src="./assets/nosotros/chris.jpg">
                <div class="text_imagen">
                  <h5>Christian<br>Molina</h5>
                  <p>FullStack Developer</p>
                </div>
              </div>
            </div>

            <div class="col-sm">
            </div>
          </div>
          <div class="row">

            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <div class="div-img">
                <img class="img_redonda"  src="./assets/nosotros/angie.jpg">
                <div class="text_imagen">
                  <h5>Angeles Perez Angueira</h5>
                  <p>Digital Design Thinking</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="div-img">
                <img class="img_redonda"  src="./assets/nosotros/jona2.jpg">
                <div class="text_imagen">
                  <h5>Jonathan Gomez</h5>
                  <p>FullStack Developer</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="contenido" id="diagonal_centro">
      <div class="container"  style="">
        <div class="titulo">
            <div class="titulo_texto"><h1>TE OFRECEMOS</h1></div>
        </div>
      </div>
    </div>

    <div class="contenido" style="margin-top:50px">
    <div class="container">
      <div class="row">
        <div id="cajas" class="col-sm-2"></div>
        <div id="cajas" class="col-sm">
          <h3>Selección de la localización del evento</h3>
          <p>Eligiendo entre las sedes que se adaptan al tipo de evento que juntos organizaremos </p>
          <img  src="./assets/icon/lugar.png">
        </div>
        <div id="cajas" class="col-sm-1"></div>
        <div  id="cajas" class="col-sm" >
          <h3>Programación de Agenda </h3>
          <p>Estableciendo el cronograma y disposición de speakers /asistentes </p>
          <img  src="./assets/icon/agenda.png">
        </div>
        <div id="cajas" class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="cajas" class="col-sm-2"></div>
        <div id="cajas" class="col-sm">
          <h3>Sistemas de inscripción y seguimiento online </h3>
          <p>Registrando la participación de speakers / asistentes y gestionando cobros online </p>
          <img  src="./assets/icon/agregar.png">
        </div>
        <div id="cajas" class="col-sm-1"></div>
        <div  id="cajas" class="col-sm" >
          <h3>Diseño de promoción      </h3>
          <p>Influenciando en la participación con marketing adaptado a las tecnologías  </p>
          <img  src="./assets/icon/promocion.png">
        </div>
        <div id="cajas" class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="cajas" class="col-sm-2"></div>
        <div id="cajas" class="col-sm">
          <h3>Diseño de plantillas </h3>
          <p>Que contengan el espíritu de la temática del evento, facilitando a speakers su presentación </p>
          <img  src="./assets/icon/plantilla.png">
        </div>
        <div id="cajas" class="col-sm-1"></div>
        <div  id="cajas" class="col-sm" >
          <h3>Diseño de banners   </h3>
          <p>Respondiendo a las necesidades de Partners y Organizadores  </p>
          <img  src="./assets/icon/banner.png">
        </div>
        <div id="cajas" class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="cajas" class="col-sm-2"></div>
        <div id="cajas" class="col-sm">
          <h3>Certificación digital   </h3>
          <p>Validando automáticamente los asistentes en sus diferentes categorías  </p>
          <img  src="./assets/icon/certificado.png">
        </div>
        <div id="cajas" class="col-sm-1"></div>
        <div  id="cajas" class="col-sm" >
          <h3>Descripción de perfiles de asistentes       </h3>
          <p>Elaborando un profundo entendimiento del segmento interesado en el evento   </p>
          <img  src="./assets/icon/perfil.png">
        </div>
        <div id="cajas" class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="cajas" class="col-sm-2"></div>
        <div id="cajas" class="col-sm">
          <h3>Analytics    </h3>
          <p>Exploramos los datos del evento y entregamos informes de fácil visualización.  </p>
          <img  src="./assets/icon/analitica.png">
        </div>
        <div id="cajas" class="col-sm-1"></div>
        <div id="cajas" class="col-sm">

        </div>
        <div id="cajas" class="col-sm-2"></div>
      </div>
    </div>
</div>
<app-footer></app-footer>
<!--<div id="diagonal_abajo" class="contenido" style="">
    <div class="container">
          <div class="text_superior">

          </div>
    </div>
</div>-->

</div>
