
<div id="main">

<div class="contenido"  style="background: url('./assets/fondos/1.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

  <form [formGroup]="formulario">

    <div class="contenido" >
      <div class="container" >
        <div class="row">
          <div class="col-lg" style="height:40px">
          </div>
        </div>
      </div>
    </div>

    <div class="contenido" style="background: rgba(40, 80, 130,0.5)">
      <div class="alert alert-info" *ngIf="send">Formulario enviado! Por favor espere..</div>
      <div class="alert alert-danger" *ngIf="error">{{errorInfo}}</div>
      <div class="alert alert-success" *ngIf="success">{{errorInfo}}</div>
  		<div class="container registrationform" style="margin-top:20px;">
  		  <div class="row">
          <div class="col-md-2" >
          </div>

    				<div class="col-md-4 " style="text-align:center;color:white">
              <div formGroupName="user">
                <div class="form-group">
                  <input formControlName="email" type="text" class="form-control" name="email"  placeholder="Email" ngModel>
                  <div *ngIf="isFieldRequired('user.email')" class="alert alert-danger">Debes agregar un correo electrónico.</div>
                  <div *ngIf="isFieldEmail('user.email')" class="alert alert-danger">El formato debe ser <i> nombre@dominio.com </i>.</div>
                </div>
                <div class="form-group">
                  <input formControlName="password" type="password" class="form-control " name="contraseña" placeholder="Contraseña" ngModel>
                  <div class="alert alert-danger" *ngIf="isFieldValid('user.password')">Debes agregar una contraseña de entre 6-20 caracteres.</div>
                </div>
                <div class="form-group">
                  <input formControlName="password_confirmation" type="password" class="form-control "  name="repite contraseña" placeholder="Confirma la contraseña" ngModel>
                  <div *ngIf="isFieldRequired('user.password_confirmation')" class="alert alert-danger">Debes agregar una confirmación de contraseña.</div>
                  <div *ngIf="isFieldMatchPass('user.password', 'user.password_confirmation')" class="alert alert-danger">Las contraseñas no coinciden.</div>
                </div>
              </div>
          </div>


            <div class="col-md-4 " style="text-align:center;color:white">
              <div formGroupName="person">
                <div class="form-group">
                  <input formControlName="name" class="form-control" type="text" placeholder="Nombre" ngModel>
                  <div class="alert alert-danger" *ngIf="isFieldValid('person.name')">Debes agregar su nombre.</div>
                </div>
                <div class="form-group">
                  <input formControlName="surname" type="text" class="form-control"  name="apellido" placeholder="Apellido" ngModel>
                  <div class="alert alert-danger" *ngIf="isFieldValid('person.surname')">Debes agregar su apellido</div>
                </div>
                <div class="form-group">
                  <input formControlName="organization" type="text" class="form-control"  name="organization" placeholder="Organización" ngModel>
                </div>
              </div>
            </div>

          <div class="col-md-2" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" >
          </div>
  				<div class="col-md-6 text-center" style="text-align:center;color:white;font-size:15px">
                  Al hacer clic en "Registrarse" a continuación, acepta nuestros <a class="botones" href="https://mwork.com.ar/terminos.pdf" target="_blank">terminos legales y declaración de privacidad.</a>
          </div>
          <div class="col-md-3" >
          </div>
        </div>

        <div class="row">
          <div class="col-md-5" >
          </div>
  				<div class="col-md-2 " style="text-align:center;color:white;margin-top:10px">
              <div class="form-group">
                <button  type="button" (click)="onSubmit()" class="btn btn-primary btn-block">Registrarse</button>
              </div>
          </div>
          <div class="col-md-5" >
          </div>
        </div>

      </div>
    </div>

    <div class="contenido" >
      <div class="container" >
        <div class="row">
          <div class="col-lg" style="height:150px">
          </div>
        </div>
      </div>
    </div>

  </form>

  <app-footer></app-footer>
</div>
</div>
