
<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Forgot password</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Reset your password..</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="modalRegistro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h3>Registro de Usuario</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="btn-group btn-group-toggle " id="botones_cabecera" data-toggle="buttons">
            <label class="btn btn-secondary botonSeleccionModal" (click)="activarRegistoPersona()">
              <input id="toggle_persona" type="radio" name="options" id="option2" autocomplete="off"> Persona
            </label>
            <label class="btn btn-secondary botonSeleccionModal" (click)="activarRegistoEmpresa()">
              <input type="radio" name="options" id="option3" autocomplete="off"> Empresa
            </label>
          </div>

          <div *ngIf="registroPersona" class="form-group">

            <div class="form-row">
              <div class="col">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel>
              </div>
              <div class="col">
                <input type="password" class="form-control " id="contraseña" name="contraseña" placeholder="Contraseña" ngModel>
                <input type="password" class="form-control " id="repite contraseña" name="repite contraseña" placeholder="Repite contraseña" ngModel>
              </div>

            </div>
            <div class="form-row">
                <legend>Datos Personales</legend>
            </div>
            <div class="form-row">
            <div class="col">

              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ngModel>
              <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ngModel>
              <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI" ngModel>
              <input type="text" onfocus="(this.type='date')"  id="date" class="form-control" id="fechaDeNacimiento" name="fechaDeNacimiento" placeholder="Fecha de nacimiento" ngModel>

              <input type="text" class="form-control" id="empleo" name="empleo" placeholder="Empleo" ngModel>

              <select class="form-control" id="exampleFormControlSelect1">
                <option disabled selected="selected">Estudios</option>
                <option >Robo de trabajos con LC</option>
                <option>Aprendiendo ingles con JM</option>
                <option>Avanzado o no, todo es lo mismo con SR</option>
              </select>
              <div class="textarea">
                <label for="exampleFormControlTextarea1" >Intereses</label>
                <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>

            </div>
            <div class="col">
              <div class="form-row">
                <a class="btn-lg" style="padding:0px"><span class="fa fa-whatsapp"></span></a>
                <input type="text" class="form-control" style='width:91%' id="paisCaracteristicaMovil" name="paisCaracteristicaMovil" placeholder="#Pais#Caracteristica#Movil" ngModel>
              </div>
              <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" ngModel>
              <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" ngModel>
              <input type="text" class="form-control" id="localidad" name="localidad" placeholder="Localidad" ngModel>
              <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Codigo postal" ngModel>
              <input type="text" class="form-control" id="calleYNumero" name="calleYNumero" placeholder="Calle y Numero" ngModel>
              <input type="text" class="form-control" id="pisoYDepartamento" name="pisoYDepartamento" placeholder="Piso y departamento" ngModel>



            </div>

          </div>
          </div>



        <div *ngIf="registroEmpresa" id="registro_empresa" class="form-group" >


        <div class="form-row">
          <div class="col">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel>
          </div>
          <div class="col">
            <input type="password" class="form-control " id="contraseña" name="contraseña" placeholder="Contraseña" ngModel>
            <input type="password" class="form-control " id="repite contraseña" name="repite contraseña" placeholder="Repite contraseña" ngModel>
          </div>

        </div>
        <div class="form-row">
            <legend>Organizacion o Empresa</legend>
        </div>
        <div class="form-row">
          <div class="col">
            <!--  <input type="text" class="form-control registroRemarca" id="nombreDeUsuario" name="nombreDeUsuario" placeholder="Nombre de usuario" ngModel>-->
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de organizacion o empresa" ngModel>
            <div class="form-row">
              <a class="btn-lg" style="padding:0px"><span class="fa fa-whatsapp"></span></a>
              <input type="text" class="form-control" style='width:91%' id="paisCaracteristicaMovil" name="paisCaracteristicaMovil" placeholder="#Pais#Caracteristica#Movil" ngModel>
            </div>
            <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" ngModel>
            <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" ngModel>
            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" ngModel>
            <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Codigo postal" ngModel>
            <input type="text" class="form-control" id="calleYNumero" name="calleYNumero" placeholder="Calle y Numero" ngModel>
            <input type="text" class="form-control" id="pisoYDepartamento" name="pisoYDepartamento" placeholder="Piso y departamento" ngModel>
          </div>
          <div class="col">

            <div class="form-row">
              <a class="btn-lg" style="padding:0px"><span class="fa fa-facebook"></span></a>
              <input type="text" class="form-control" style='width:91%' id="usuarioFacebook" name="usuarioFacebook" placeholder="Facebook" ngModel>
            </div>
            <div class="form-row">
                <a class="btn-lg" style="padding:0px"><span class="fa fa-twitter"></span></a>
              <input type="text" class="form-control" style='width:91%' id="usuarioTwitter" name="usuarioTwitter" placeholder="Twitter" ngModel>
            </div>
            <div class="form-row">
                <a class="btn-lg" style="padding:0px"><span class="fa fa-instagram"></span></a>
              <input type="text" class="form-control" style='width:91%' id="usuarioInstagram" name="usuarioInstagram" placeholder="Instagram" ngModel>
            </div>
            <div class="form-row">
                <a class="btn-lg" style="padding:0px"><span class="fa fa-youtube"></span></a>
              <input type="text" class="form-control" style='width:91%' id="usuarioYoutube" name="usuarioYoutube" placeholder="Youtube" ngModel>
          </div>
          <legend>Contacto</legend>
          <input type="text" class="form-control" id="nombreDeContacto" name="nombreDeContacto" placeholder="Nombre de contacto designado" ngModel>
            <div class="form-row">
              <a class="btn-lg" style="padding:0px"><span class="fa fa-whatsapp"></span></a>
              <input type="text" class="form-control" style='width:91%' id="paisCaracteristicaMovil" name="paisCaracteristicaMovil" placeholder="#Pais#Caracteristica#Movil" ngModel>
            </div>
        </div>
    </div>


  </div>
</form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  <button class="btn btn-primary">Guardar</button>
</div>
</div>
</div>
</div>
