<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Forgot password</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Reset your password..</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="modalRegistro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h3>Registro</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ngModel>
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ngModel>
              <input type="text" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña" ngModel>
            </div>
          </div>
        </form>
       <!-- <div class="col-md-12 col-md-offset-1">
          <div class="well well bs-component">
            <form class="form-horizontal" >
              <fieldset>
                <div class="form-group">
                  <label for="thumbnail" class="col-xs-2 control-label">Nombre</label>
                  <div class="col-xs-2 col-md-4" >
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ngModel>
                  </div>
                  <label for="imagelink" class="col-lg-1 control-label">Apellido</label>
                  <div class="col-xs-3 col-md-4">
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="title" class="col-lg-1 control-label">Email</label>
                  <div class="col-xs-3 col-md-4">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
                  </div>
                  <label for="title" class="col-lg-1 control-label">Password</label>
                  <div class="col-xs-3 col-md-4">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
                         </div>  -->
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>