<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Recuperar Contraseña</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reset_form">
					<div class="alert alert-success" *ngIf="getNoError() && getSend()">Formulario enviado! Recibirá un un enlace en su correo</div>
					<!--<div class="alert alert-danger" *ngIf="!getNoError() && getSend()">Compruebe que no haya errores y vuelva a intentarlo</div>-->
					<div class="contenido" >

							<div class="form-row">
								<div class="col-md-2">
								</div>
								<div class="col-md-8">
									<input formControlName="email" type="email" class="form-control" name="email" placeholder="Email" ngModel>
									<!--<div *ngIf="reset_form.controls.email.errors && reset_form.controls.email.dirty">
    								<div class="alert alert-danger" *ngIf="reset_form.controls.email.errors.required" >Este campo es obligatorio</div>
    								<div class="alert alert-danger" *ngIf="reset_form.controls.email.errors.email" >Introduzca un email valido</div>
  								</div>-->
                  <div class="alert alert-danger" *ngIf="getError()" >Introduzca un email valido</div>

								</div>
								<div class="col-md-2">
								</div>
							</div>

					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark disabled" (click)="close()" data-dismiss="modal" >Cerrar</button>
				<button class="btn btn-primary " *ngIf="!getNoError() || !getSend() || loading"  (click)="onSubmit()">Enviar<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>

      </div>
    </div>
  </div>
</div>
