<!--<div class="modal fade" id="mSummitModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">M-Summit</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div  class="modal-body">-->
				<div class="contenido">
						<div class="container" style="margin-bottom:0">
							<div class="row">
									<div class="col-md-1">
									</div>
									<div class="col-md-10 titulo" style="margin-top:15px">
											<div id="summit_titulo">Descarga el Template</div>
									</div>
									<div class="col-md-1">
									</div>
							</div>
							<div class="row">
									<div class="col-md-1">
									</div>
									<div class="col-md-8 titulo" style="">
											<p>Al presionar "Descargar" podrás guardar en tu computadora un Archivo que contiene las pantallas a seguir para la presentación SUMMIT. Una vez completa tu presentación podrás subirla desde tu perfil en el apartado M_SUMMIT.
											</p>
									</div>
									<div class="col-md-2">

										<!--<p class="lead">
											<a class="btn btn-primary btn-lg float-right" href="http://services.mwork.com.ar/storage/app/public/summit/summit_movilidad_futura.pptx" download role="button">Descargar template</a>
										</p>-->
										<button type="button" class="btn btn-primary boton_grande"  (click)="download()">Descargar</button>

										<!--<p class="lead">
											<a class="btn btn-primary btn-lg float-right" href="example.com/assets/eventos/asebal.jpg" download="asebal.jpg" role="button">Descargar template</a>
										</p>-->
										<!--<button type="button" class="btn btn-primary" id="boton_grande" href="example.com/assets/eventos/asebal.jpg" download="asebal.jpg">Descargar</button>-->


									</div>
									<div class="col-md-1">
									</div>
							</div>

							<div class="row" >
								<div class="col-md-1" >
								</div>
								<div class="col-md-10 titulo" style="margin-top:15px">
									<div id="summit_titulo">Sugerencias para exponer</div>
									<p>
										<li>Utiliza el formato que se propone en la descarga.
										<li>Evita agregar más diapositivas de las sugeridas para no exceder el tiempo asignado.
										<li>El tamaño de letras aconsejado te permitirá enfatizar aspectos relevantes de tu discurso.
										<li>Si tu presentación utiliza una demo deberás subirla a youtube siguiendo los siguientes <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform=Desktop&hl=es-419" target="_blank">pasos</a>
										<li>En la pantalla #5 pega el hipervínculo de acceso al video en youtube.

									</p>
								</div>
								<div class="col-md-1" >
								</div>
							</div>

							<form [formGroup]="queryForm">

								<div class="row" >
									<div class="col-md-1" >
									</div>
									<div class="col-md-10 titulo" style="margin-top:15px">
										<div id="summit_titulo">Contacto para tu asesoramiento</div>
										<p>En éste apartado podrás realizarnos consultas técnicas o de formato para lograr la comunicación más efectiva.</p>
									</div>
									<div class="col-md-1" >
									</div>
								</div>
								<div class="row" >
									<div class="col-md-1" >
									</div>
									<div class="col-md-8" >
										<div class="form-group">
											<div class="alert alert-danger" *ngIf="error">{{errorData}}</div>
											<div class="alert alert-success" *ngIf="ok">Su consulta se ha enviado!</div>
											<textarea formControlName="query" class="form-control" id="exampleFormControlTextarea1" rows="3" ngModel placeholder="Consulta"></textarea>
											<div class="alert alert-danger" *ngIf="isFieldValid('query')" >Debe introducir una consulta</div>
										</div>
									</div>
									<div class="col-md-2" >
											<button class="btn btn-primary boton_grande" [disabled]="send" (click)="onSubmit()">Contactar<i class="fa fa-spinner fa-spin fa-fw" *ngIf="send"></i></button>
									</div>
									<div class="col-md-1" >
									</div>
								</div>

							</form>
						</div>
						<!--	{{queryForm.value | json}} -->
				</div>

		 <!--</div>


					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setQueryForm()" >Cerrar</button>
					</div>
		</div>
	</div>
</div>-->
