<!--<div class="modal fade" id="mSummitModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">M-Summit</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div  class="modal-body">-->
				<div class="contenido" >
						<div class="container" >
							<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-6 titulo" style="margin-top:15px">
											<div id="summit_titulo">Descarga</div>
											<p>Datos relacionados a las descarga del template</p>
									</div>
									<div class="col-md-2">
										<p class="lead">
											<a class="btn btn-primary btn-lg float-right" href="http://services.mwork.com.ar/storage/app/public/summit/summit_movilidad_futura.pptx" download role="button">Descargar template</a>
										</p>
										<button type="button" class="btn btn-primary" id="boton_grande" (click)="download()">Descargar template complicado</button>

									</div>
									<div class="col-md-2">
									</div>
							</div>

							<div class="row" >
								<div class="col-md-2" >
								</div>
								<div class="col-md-8 titulo" style="margin-top:15px">
									<div id="summit_titulo">Sugerencias para exponer</div>
									<p>Consejos para exponer en M-Summit</p>
								</div>
								<div class="col-md-2" >
								</div>
							</div>

							<form [formGroup]="queryForm">

								<div class="row" >
									<div class="col-md-2" >
									</div>
									<div class="col-md-6 titulo" style="margin-top:15px">
										<div id="summit_titulo">Contacto para tu asesoramiento</div>
									</div>
									<div class="col-md-2" >
									</div>
								</div>
								<div class="row" >
									<div class="col-md-2" >
									</div>
									<div class="col-md-6" >
										<div class="form-group">
											<div class="alert alert-danger" *ngIf="error">{{errorData}}</div>
											<div class="alert alert-success" *ngIf="ok">Su consulta se a enviado!</div>
											<textarea formControlName="query" class="form-control" id="exampleFormControlTextarea1" rows="3" ngModel placeholder="Consulta"></textarea>
											<div class="alert alert-danger" *ngIf="isFieldValid('query')" >Debe introducir una consulta</div>
										</div>
									</div>
									<div class="col-md-2" >
											<button class="btn btn-primary " id="boton_grande" [disabled]="send" (click)="onSubmit()">Contactarme<i class="fa fa-spinner fa-spin fa-fw" *ngIf="send"></i></button>
									</div>
								</div>

							</form>
						</div>
						<!--	{{queryForm.value | json}} -->
				</div>

		 <!--</div>


					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setQueryForm()" >Cerrar</button>
					</div>
		</div>
	</div>
</div>-->
