.botonlogin {
    background-color: white; /*#4CAF50; /* Green */
    color: LightSeaGreen;
}
.botonlogin:hover, .botonlogin:focus,.botonlogin.active, .botonlogin.dropdown-toggle:focus{
  /*  background-color: white;
    color: #4CAF50;*/
    	border: 3px double LightSeaGreen;
}
.botonlogin:active{
	/*background-color: white;
    color: #4CAF50;
	border: 2px double #4CAF50;*/

  	border: 3px double LightSeaGreen;
}

.fa-login{
  color:LightSeaGreen;
}

.fa-login-2{
  /*color:LightSeaGreen;*/
  color:white;
  font-size:18px;
}
.botones{
  font-size:15px;
  text-decoration: none;
  /*color:LightSeaGreen;*/
color:white;
}

.botones:hover{
  color:#007bff;
  text-shadow: 0.5px 0.5px 0.5px grey;
  /*font-weight:bold;*/
}

.loginform{
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

.alert-danger{
  font-size: 15px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
