<li class="dropdown order-3 ">
	<button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn  dropdown-toggle botonlogout "><span class="fa fa-user-circle-o fa-login"></span>{{user}} <span class="caret"></span></button>
	<ul class="dropdown-menu dropdown-menu-right mt-2">
		<li style="padding:15px;width:170px">
			<div class="form-group text-center">
				<span class="fa fa-vcard-o fa-login-2"></span> <a href="#" [routerLink]="['perfil']" (click)="btnLogin()" class="botones">Ver Perfil<span class="caret"></span></a>
			</div>
			<div class="form-group text-center">
				<span class="fa fa-sign-out fa-login-2"></span><a id="logout" [routerLink]="['home']" (click)="logout()" class="botones">Cerrar sesion</a>
			</div>
		</li>
	</ul>
</li>
