<form [formGroup]="formulario_persona">

<div class="contenido" >

  <div *ngIf="esPersonaUsuario">

    <div class="form-row" id="header_titulo">
        <legend>Paso 2: Usuario</legend>
    </div>

    <div  formGroupName = "user">

      <div class="form-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel>
          <div class="alert alert-danger" *ngIf="isFieldValid('user.email')">* Este campo es requerido</div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <input formControlName="password" type="password" class="form-control " id="contraseña" name="contraseña" placeholder="Contraseña" ngModel>
          <div class="alert alert-danger" *ngIf="isFieldValid('user.password')">* Este campo es requerido</div>

        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <input formControlName="password_confirmation" type="password" class="form-control " id="repite contraseña" name="repite contraseña" placeholder="Repite contraseña" ngModel>
          <div class="alert alert-danger" *ngIf="isFieldValid('user.password_confirmation')">* Este campo es requerido</div>
          <!--<div class="alert alert-danger" *ngIf="this.formulario_persona.controls['password_confirmation'].value != this.formulario_persona.controls['password'].value && isFieldValid('user.pwd.password') && isFieldValid('user.pwd.password_confirmation')">* Las contraseñas no coinciden</div>-->

        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>

<div formGroupName="person">

  <div *ngIf="esPersonaPersonales">

    <div class="form-row" id="header_titulo">
        <legend>Paso 3: Datos Personales</legend>
    </div>

    <div class="form-row">
      <div class="col">
        <input formControlName="name" class="form-control" type="text" placeholder="Nombre" ngModel >
        <div class="alert alert-danger" *ngIf="isFieldValid('person.name')">* Este campo es requerido</div>
        <input formControlName="surname" type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" ngModel>
        <div class="alert alert-danger" *ngIf="isFieldValid('person.surname')">* Este campo es requerido</div>
        <input formControlName="document_number" type="text" class="form-control" id="dni" name="dni" placeholder="DNI" ngModel>
        <div class="alert alert-danger" *ngIf="isFieldValid('person.document_number')">* Este campo es requerido</div>
        <input formControlName="birth_date" type="text" onfocus="(this.type='date')"  id="date" class="form-control" id="fechaDeNacimiento" name="fechaDeNacimiento" placeholder="Fecha de nacimiento" ngModel>
        <div class="alert alert-danger" *ngIf="isFieldValid('person.birth_date')">* Este campo es requerido</div>
        <input formControlName="empleo" type="text" class="form-control" id="empleo" name="empleo" placeholder="Empleo" ngModel>
        <select formControlName="study_level_id" class="form-control" id="exampleFormControlSelect1">
          <option disabled selected="selected">Estudios</option>
          <option >Robo de trabajos con LC</option>
          <option>Aprendiendo ingles con JM</option>
          <option>Avanzado o no, todo es lo mismo con SR</option>
        </select>
        <!--<div class="textarea">
          <label for="exampleFormControlTextarea1" >Intereses</label>
          <textarea formControlName="empleo" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>-->
      </div>
    <div class="col">
      <div class="form-row">
        <a class="btn-lg" style="padding:0px"><span class="fa fa-whatsapp"></span></a>
        <input formControlName="cellphone" type="text" class="form-control" style='width:91%' placeholder="#Pais#Caracteristica#Movil" ngModel>
      </div>
      <input formControlName="country_id" type="text" class="form-control" id="pais" name="pais" placeholder="Pais" ngModel>
      <input formControlName="province_id" type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" ngModel>
      <input formControlName="city_id" type="text" class="form-control" id="localidad" name="localidad" placeholder="Localidad" ngModel>
      <input formControlName="postal_code" type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Codigo postal" ngModel>
      <input formControlName="street" type="text" class="form-control" id="calle" name="calle" placeholder="Calle" ngModel>
      <div class="form-row">
        <div class="col"><input formControlName="number" type="text" class="form-control" id="numero" name="numero" placeholder="Número" ngModel></div>
        <div class="col"><input formControlName="floor" type="text" class="form-control" id="piso" name="piso" placeholder="Piso" ngModel></div>
        <div class="col"><input formControlName="dept" type="text" class="form-control" id="departamento" name="departamento" placeholder="Departamento" ngModel></div>

      </div>
    </div>
    </div>

  </div>

  <div *ngIf="esPersonaRedes">


    <div class="form-row" id="header_titulo">
        <legend>Paso 4: Intereses y Redes Sociales</legend>
    </div>

    <div class="row">

      <div class="col-md-1">
      </div>
      <div class="col-md-5">



        <div formGroupName="interests">
          <div class="panel">

            <div class="caja_right" *ngFor="let interest of listaIntereses; let i = index">
                <span formGroupName="{{i}}">
                    <input type="checkbox" formControlName="{{interest.name}}">
                      {{interest.name}}
                  </span>
              <!--<label class="check"><input type="checkbox" > formControlName="{{person.category.name}}"</label>-->
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-5">

        <div class="form-row">
          <a class="btn-lg" style="padding:0px"><span class="fa fa-facebook"></span></a>
          <input type="text" class="form-control" style='width:85%'  id="usuarioFacebook" name="usuarioFacebook" placeholder="Facebook" >
        </div>
        <div class="form-row">
          <a class="btn-lg" style="padding:0px"><span class="fa fa-twitter"></span></a>
          <input type="text" class="form-control" style='width:85%'  id="usuarioTwitter" name="usuarioTwitter" placeholder="Twitter" >
        </div>
        <div class="form-row">
          <a class="btn-lg" style="padding:0px"><span class="fa fa-instagram"></span></a>
          <input type="text" class="form-control" style='width:85%'  id="usuarioInstagram" name="usuarioInstagram" placeholder="Instagram" >
        </div>
        <div class="form-row">
          <a class="btn-lg" style="padding:0px"><span class="fa fa-youtube"></span></a>
          <input type="text" class="form-control" style='width:85%'  id="usuarioYoutube" name="usuarioYoutube" placeholder="Youtube" >
        </div>
        <div class="form-row">
          <a class="btn-lg" style="padding:0px"><span class="fa fa-linkedin"></span></a>
          <input type="text" class="form-control" style='width:85%'  id="usuarioLinkedin" name="usuarioLinkedin" placeholder="Linkedin" >
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

  </div>

  <div *ngIf="esPersonaCondiciones" id="header_titulo">
    <div class="form-row">
        <legend>Paso 5: Bases y Condiciones</legend>
    </div>


    <div class="checkbox">
    <label>
      <input type="checkbox" formControlName="share_data"> Acepto ceder mis datos a terceros
    </label>
    </div>
    <div class="checkbox">
    <label>
      <input type="checkbox" formControlName="terms"> Acepto los términos y condiciones
    </label>
    </div>
    <div class="alert alert-danger" *ngIf="isFieldValid('person.terms')">* Se deben aceptar los términos y condiciones
    </div>
  </div>

</div>
<!--{{formulario_persona.value | json}}-->
</div>
<div class="contenido" >
  <div class="container">
    <div class="row">


      <div class="col-md-2"  >
          <button *ngIf="esCancelar" class="btn btn-danger"  (click)="onCancelar()" id="boton_grande">Cancelar</button>
      </div>
      <div class="col-md-6"  >

      </div>
      <div class="col-md-2 " >
          <button *ngIf="esAnterior" class="btn btn-dark disabled "  (click)="onAnterior()" id="boton_grande">Anterior</button>
      </div>
      <div class="col-md-2 " >
          <button *ngIf="esSiguiente" class="btn btn-primary " (click)="onSiguiente()" id="boton_grande">Siguiente</button>
          <button *ngIf="esFinalizar" class="btn btn-primary "  (click)="onSubmit()" id="boton_grande">Finalizar</button>
      </div>


    </div>
  </div>
  <!--
  <div class="caja_left" id="boton_izquierda">

  </div>
  <div class="caja_right float-right"  id="boton_derecha">

  </div>-->

  <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  <div>
   <button type="submit" (click)="onSubmit()" class="btn btn-primary">Guardar</button>
 </div>-->

</div>
{{formulario_persona.value | json}}
</form>
