.caja_left{
  position: relative;
  float:left;
  width:32%
}
.caja_right{
  position: relative;
  float:left;
  margin:5px;
  text-align: left;

  /*width:32%*/
}

.panel{
  position:relative;
  float:left;
  border:solid #ced8e3 1px;
  padding:15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

}
.boton_grande{
    height:50px;
    width:100%;
    margin-top:10px
}
#header_titulo{
  margin-bottom: 30px;
  border-bottom: solid #ced8e3 1px;
}

#boton_izquierda{
  border:solid red 2px;
  float:left;
  position:relative;
  width:50%;
}
#boton_derecha{
  border:solid red 2px;
  float:right;
  width:50%;
  position:relative;
}
