<li class="list-group-item d-flex justify-content-between align-items-center" id="participantes">
	<p>{{Participant.name}}</p>
	<!--<button *ngIf="Participant.status==0" type="button" (click)="invitation(Participant.id,Participant.status)" class="btn btn-danger">Cancelar Invitacion</button>-->
	<button *ngIf="Participant.status==1 "type="button" (click)="invitation(Participant.id,Participant.status)" class="btn btn-primary">Aceptado</button>
	<button *ngIf="Participant.status==2" type="button" class="btn btn-dark disabled">Pendiente</button>
</li>