#participantes button{
  font-size: 12px;
  height:23px;
  padding:1px;
  margin-bottom: 3px;
  float:right;
}

/*
.titulo p{
  font-size: 18px;
  text-align: justify;
  margin-top: 15px;
}
.datos p{
  font-size: 15px;
  margin-top: 15px;
}

.titulo h6{
  margin-top: 15px;  color: #2057a2;
}*/
/*#imagen_patrocinador{
  height:80px;
  margin-top:10px;
}
#imagen_logo{
  width:100%;
  border:2px solid white;
  -webkit-box-shadow:0 0 30px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 30px rgba(0,0,0,0.8);
  box-shadow:0 0 30px rgba(0,0,0,0.8);
  margin-top: 10px;
}
#imagen_organizan{
  width:100%;
  margin-top: 10px;
}*/
.fa {
  padding: 0px;
  font-size: 33px;
  text-align: center;
  text-decoration: none;
  color:#d20707;
  background: none;
  width:37px;
  margin:0px;

}
.fa_perfil{
    color:#2057a2;
}
/*.titulo_divisor{
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 75px;
}
.titulo_texto_divisor{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color:white;
}
#instruccion{
  margin-top:20px;
}
#instruccion p{
  font-size: 14px;
}*/
#participantes p{
  font-size: 15px;
  /*border:1px solid red;*/
  margin:3px;
  text-align: left;
}
#participantes {
padding:0;
  /*height:31px;*/
  text-align: left;
  /*border:1px solid red*/
/*display:flex;
align-items: center;*/
}

/*.avatar{
  position: relative;

  margin: 0px;
  padding: 0px;
}*/
/*#agenda_descripcion{
  font-size: 16px;
}
#agenda_titulo{
  font-size: 20px;
  color: #2057a2;
}
#agenda_horario{
  font-size: 18px;
  color: #2057a2;
}*/
#imagen_logo{
  width:100%;
  margin-bottom: 3px;
  /*border:2px solid white;*/
  -webkit-box-shadow:0 0 12px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 12px rgba(0,0,0,0.8);
  box-shadow:0 0 12px rgba(0,0,0,0.8);
/*border:1px solid red*/
margin:3px;
}
