.div-img{
    position: relative;

    color:black;
    text-shadow: 1px 1px 2px black;
}
.img_redonda{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    z-index: 1;
    max-width: 100%;

        transform:scale(1);
        -ms-transform:scale(1);
        -moz-transform:scale(1);
        -webkit-transform:scale(1);
        -o-transform:scale(1);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img_redonda{
            transform:scale(1.2);
            -ms-transform:scale(1.2);
            -moz-transform:scale(1.2);
            -webkit-transform:scale(1.2);
            -o-transform:scale(1.2);
 }
.text_imagen{
  position: relative;
  text-align: center;
  color:black;
  text-shadow: 1px 1px 1px black;
  margin-top: 25px;
}
#boton_grande{
    height:50px;
    width:100%;
    margin-top:10px
}
