<div id="main">

<div class="contenido" style="background: url('./assets/fondos/1.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="container" >
      <div class="row">
          <div class="col-sm-2" >
          </div>
          <div class="col-sm" >
            <div class="text_superior_grande" >
              <p>
                DISEÑO Y ORGANIZACION
              </p>
            </div>
          </div>
          <div class="col-sm-2" >
          </div>
      </div>

    </div>
    <div class="container" >
      <div style="height:100px">

      </div>

    </div>
<div class="contenido" style="background: rgba(40, 80, 130,0.5)">
  <div class="container" style="margin-bottom:0">

    <div class="row" >
      <div  class="col-lg">
        <div id="carouselExampleSlidesOnly"  class="carousel slide" data-speed="1" data-interval="3500" data-ride="carousel">
          <div class="carousel-inner" >

            <div class="carousel-item active" >
              <p>
                <span >Promoción</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Perfiles del Asistente</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Localización</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Certificados digitales</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Formatos de eventos</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de presentaciones</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Comunicación</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Inscripciones</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de Banners</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Difusión</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Analytics</span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container" >
  <div style="height:300px"></div>
</div>

</div>

</div>
