<div id="main">

<div class="contenido" style="background: url('./assets/fondos/1.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="container" >
      <div class="row">
          <div class="col-sm-2" >
          </div>
          <div class="col-sm" >
            <div class="text_superior_grande" >
              <p>
                Diseño y Organización
              </p>
            </div>
          </div>
          <div class="col-sm-2" >
          </div>
      </div>

    </div>
    <div class="container" >
      <div style="height:100px">

      </div>

    </div>
<div class="contenido" style="background: rgba(40, 80, 130,0.5)">
  <div class="container" style="margin-bottom:0">

    <div class="row" >
      <div  class="col-lg">
        <div id="carouselExampleSlidesOnly"  class="carousel slide" data-speed="1" data-interval="3500" data-ride="carousel">
          <div class="carousel-inner" >

            <div class="carousel-item active" >
              <p>
                <span >Promoción</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Perfiles del Asistente</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Localización</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Certificados digitales</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Formatos de eventos</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de presentaciones</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Comunicación</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Inscripciones</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de Banners</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Difusión</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Analytics</span><br>
                <img  src="./assets/icon/analitica.png"/>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container" >
  <div style="height:320px">

  </div>

</div>

<!--<div class="container" >
  <div class="row">
    <div id="cajas" class="col-sm">
      <h3>Promoción</h3>
    </div>
    <div id="cajas" class="col-sm">
      <h3>Descripción de Perfiles del Asistente</h3>
    </div>
    <div  id="cajas" class="col-sm" >
      <h3>Localización </h3>
    </div>
  </div>
  <div class="row">
    <div id="cajas" class="col-sm">
      <h3>Certificados digitales</h3>
    </div>
    <div id="cajas" class="col-sm">
      <h3>Formatos de eventos</h3>
    </div>
    <div  id="cajas" class="col-sm" >
      <h3>Diseño de presentaciones </h3>
    </div>
  </div>
  <div class="row">
    <div id="cajas" class="col-sm">
      <h3>Comunicación</h3>
    </div>
    <div id="cajas" class="col-sm">
      <h3>Inscripciones</h3>
    </div>
    <div  id="cajas" class="col-sm" >
      <h3>Diseño de Banners </h3>
    </div>
  </div>
  <div class="row">
    <div id="cajas" class="col-sm">
      <h3>Difusión</h3>
    </div>
    <div id="cajas" class="col-sm">
      <h3>Analytics</h3>
    </div>
    <div  id="cajas" class="col-sm" >
      <h3> </h3>
    </div>
  </div>
</div>-->

</div>



</div>
