<div id="main">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120827152-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-120827152-1');
  </script>
  
<div class="contenido" style="background: url('./assets/fondos/1.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="container" >
      <div class="row">
          <div class="col-sm-2" >
          </div>
          <div class="col-sm" >
            <div class="text_superior_grande" >
              <p>
                DISEÑO Y ORGANIZACION
              </p>
            </div>
            <div class="text_superior" >
              <p>
              MWork nace para facilitar la realización de eventos relacionados al conocimiento y empresas.
              </p>
            </div>
          </div>
          <div class="col-sm-2" >
          </div>
      </div>

    </div>
    <div class="container" >
      <div style="height:100px">

      </div>

    </div>
<div class="contenido" style="background: rgba(40, 80, 130,0.5)">
  <div class="container" style="margin-bottom:0">

    <div class="row" >
      <div  class="col-lg">
        <div id="carouselExampleSlidesOnly"  class="carousel slide" data-speed="1" data-interval="2000" data-ride="carousel">
          <div class="carousel-inner" >

            <div class="carousel-item active" >
              <p>
                <span >Promoción</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Perfiles del Asistente</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Localización</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Certificados digitales</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Formatos de eventos</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de presentaciones</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Comunicación</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Inscripciones</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Diseño de Banners</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Difusión</span>
              </p>
            </div>
            <div class="carousel-item">
              <p>
                <span >Analytics</span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="contenido">
  <div class="container" style="margin-top:30px;">
    <div class="row" >
      <div  class="col-md-4">

      </div>
      <div  class="col-md-4" >
        <div class="imagen_evento" >
          <a [routerLink]="['/eventos']" ><img class="img_zoom" src="./assets/eventos/logo_movilidad.jpg" ></a>

        </div>
      </div>
      <div  class="col-md-4" >

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

</div>

</div>
