
<div id="main">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120827152-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-120827152-1');
</script>

	<div class="contenido" >
		<div class="container" >
			<div class="row">
				<div class="col-md-3 float-left" >
					<img *ngIf="this.evento != null && this.evento!=undefined" src="assets/eventos/{{this.evento?.logo}}" id="imagen_logo">
					<div class="row" style="margin-top:20px;margin-left:1px">
							<div *ngFor="let account of eventoAccounts">
                <a href="{{account.pivot.name}}" target="_blank"><span class="{{account.image_name}}"></span></a>
              </div>
					</div>

				</div>
				<div class="col-md-7 titulo" >
					<h2>{{evento?.name}}</h2>
					<h6>{{evento?.start_date}} | {{evento?.event_place}}, Valparaíso, CHILE.</h6>
					<p >
						 {{evento?.description}}
					</p>

					<div class="row">
						<div class="col" *ngFor="let organizer of eventoOrganizers" style="display:flex;align-items: center">
							<a href="{{organizer.link_page}}" target="_blank"><img  src="assets/eventos/{{organizer.logo}}" id="imagen_organizan"></a>
						</div>

					</div>
				</div>
				<div class="col-md-2"  >
            <button *ngIf="subscripto" type="button" class="btn btn-danger" id="boton_grande" (click)="onAbandonar(evento?.id)">No Asistiré</button>
						<button *ngIf="!subscripto" type="button" class="btn btn-primary" id="boton_grande" (click)="onParticipar(evento?.id)">Asistir</button>
            <div class="alert alert-danger" *ngIf="getError()" style="font-size:15px;margin-top:10px">Debe Loguearse para Inscribirse al Evento</div>
            <div class="alert alert-success" *ngIf="getSend()" style="font-size:15px;margin-top:10px">Estás inscripto en el Evento</div>

				</div>
			</div>
		</div>
	</div>

	<div class="contenido" id="diagonal_centro">
		<div class="container"  style="">
			<div class="titulo_divisor">
					<div class="titulo_texto_divisor"><h2>AGENDA</h2></div>
			</div>
		</div>
	</div>

	<!--<div class="contenido" style="margin-top:20px">
		<div class="container" >
			<div class="row" *ngFor="let listaAgenda of agenda2" style="padding:10px;border-bottom:1px solid grey;">
				<div class="col-md-3">

				</div>
				<div class="col-md-1">
					<div id="agenda_horario">
						{{listaAgenda.hora_inicio}} hs
					</div>
				</div>
				<div class="col-md-5" >
					<div id="agenda_titulo">
							{{listaAgenda.nombre_formato}}
					</div>
					<div id="agenda_descripcion">
						{{listaAgenda.descripcion_formato}}
					</div>
				</div>
				<div class="col-md-3" >

				</div>

			</div>
		</div>
	</div>-->

	<div class="contenido" style="margin-top:20px">
		<div class="container" >
			<div class="row" *ngFor="let listaAgenda of agenda" style="padding:10px;border-bottom:1px solid grey;">

        <div class="col-md-1">

        </div>
				<div class="col-md-1">
					<div id="agenda_horario">
						{{listaAgenda.start_time}} hs
					</div>
				</div>
				<div class="col-md-3" >
					<div id="agenda_titulo">
							{{listaAgenda.event_format.name}}
					</div>
          <div id="agenda_descripcion">
            	{{listaAgenda.event_format.description}}
          </div>
				</div>
				<div class="col-md-5" >
					<div  id="agenda_titulo">
						{{listaAgenda.name}}
					</div>
					<div id="agenda_descripcion">
            <div *ngFor="let listaSpeaker of listaAgenda.speakers" style="float:left;margin-right:5px">{{listaSpeaker.name}}</div>

					</div>
				</div>
				<div class="col-md-1 text-center" ><!--glyphicon glyphicon-plus-sign-->
          <span class="fa fa-plus-circle" id="boton-ver" *ngIf="getVer(listaAgenda.event_format.id)" data-toggle="modal" (click)=getActividad(listaAgenda) data-target="#actividadModal"></span>

						<!--<button type="button" class="btn btn-primary" id="boton_grande" *ngIf="getVer(listaAgenda.event_format.id)" data-toggle="modal" (click)=getActividad(listaAgenda) data-target="#actividadModal">Ver</button>
-->
      	</div>
        <div class="col-md-1" >
				</div>
			</div>
		</div>
	</div>

<!--
	<div class="contenido" >
		<div class="container" >

			<h1>Expositores</h1>

			<div class="row">

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

			</div>
			<div class="row">

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

				<div class="col-md">
					<div class="imagen" >
						<img src="assets/nosotros/fernanda2.jpg" class="img_redonda" >
					</div>
					<div class="text_imagen">
						<h6>Nombre y Apellido</h6>
						<p>Descripcion del expositor<p>
					</div>
				</div>

			</div>

		</div>
	</div>
-->
<div class="contenido" id="diagonal_centro">
	<div class="container"  style="">
		<div class="titulo_divisor">
				<div class="titulo_texto_divisor"><h2>PARTNERS</h2></div>
		</div>
	</div>
</div>

<div class="contenido" style="margin-top:0px">
  <div class="container" style="margin-top:0px;margin-bottom:0">

    <div class="row" >
      <div  class="col-md-12 text-center" >

        <!--<div id="carouselExampleSlidesOnly"  class="carousel slide" data-speed="1" data-interval="3000" data-ride="carousel">
          <div class="carousel-inner" >

            <div class="carousel-item active" >
            </div>
            <div class="carousel-item" *ngFor="let partner of eventoPartners">
              <div style="height:280px;display:flex;align-items: center"><a href="{{partner.link_page}}" target="_blank"><img *ngIf="partner!=null && partner!=undefined"  src="assets/eventos/{{partner.logo}}" id="imagen_patrocinador"></a></div>
            </div>

          </div>
        </div>-->

        <div class="row" style="margin-top:15px">
          <div class="col-md-3" *ngFor="let partner of eventoPartners" style="display:flex;align-items: center;padding:20px">
            <a href="{{partner.link_page}}" target="_blank"><img  *ngIf="partner!=null && partner!=undefined" src="assets/eventos/{{partner.logo}}" id="imagen_patrocinador"></a>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
<!--
<div class="contenido" style="margin-top:45px">
  <div class="container">
    <div class="row" >
			<div  class="col-lg">
				<marquee onmouseout="this.start()" onmouseover="this.stop()">
					<a href="https://www.asebal.com/" target="_blank"><img src="assets/eventos/asebal.png" id="imagen_patrocinador"></a>
					<a href="http://www.pat-apat.org/" target="_blank"><img src="assets/eventos/pat.png" id="imagen_patrocinador"></a>
					<a href="https://www.auditoresdeseguridadvial.com/" target="_blank"><img src="assets/eventos/auditores.jpg" id="imagen_patrocinador"></a>
					<a href="https://www.habidom.com/" target="_blank"><img src="assets/eventos/habidom.jpg" id="imagen_patrocinador"></a>
					<a target="_blank"><img src="assets/eventos/bsp.jpg" id="imagen_patrocinador"></a>
					<a target="_blank"><img src="assets/eventos/cota.jpg" id="imagen_patrocinador"></a>
				</marquee>

			</div>
		</div>
	</div>
</div>
-->
	<div class="contenido" style="margin-top:5px">
		<div class="container" >
			<div class="row">
				<div class="col-md-10">
					<h1>Quiere ser Partner del evento?</h1>
					<p>Desde antes hasta después del evento le ofrecemos las mejores oportunidades de mostrar su marca. Comencemos.</p>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" id="boton_grande" data-toggle="modal" data-target="#partnerFormRequestModal">Ser partner</button>
				</div>
			</div>

		</div>
	</div>
<app-partner-request-form></app-partner-request-form>
<app-actividad [subscripto]="subscripto" ></app-actividad>
<app-footer></app-footer>

</div>
