<div id="main" >

  <div class="contenido" id="diagonal" style="background: url('./assets/fondos/11.jpg') no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
      <div class="container">
        <div class="row">
            <div class="col-sm-2" >
            </div>
            <div class="col-sm" >
              <div class="text_superior">
                <p>
                  Vamos a brindarte la mejor forma de organizar tus eventos para que alcances mayores oportunidades de relación.
                  Porque nos encanta desafiar las estructuras diseñando propuestas innovadoras y somos capaces de hacerlo con creatividad.
                </p>
              </div>
            </div>
            <div class="col-sm-2" >
            </div>
        </div>
      </div>
  </div>

  <div class="contenido" style="">
      <div class="container" style="margin-top:40px">
          <div class="row">
              <div class="col-sm" >

                <div class="container" >

                  <img class="img_redonda"  src="./assets/organizar/summit.jpg" >
                  <div class="text_imagen" >
                    <h5>M_SUMMIT</h5>
                    <p>
                      Plataforma flexible para presentaciones breves y cercanía
                      de contactos, con una duración máxima de media jornada.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-sm" >

                <div class="container" >

                  <img class="img_redonda"  src="./assets/organizar/workshop.jpg" >
                  <div class="text_imagen" >
                    <h5>M_WORKSHOP</h5>
                    <p>
                      Participación activa de los asistentes intercambiando impresiones,
                       conocimientos o habilidades.
                    </p>
                  </div>
                </div>

              </div>

              <div class="col-sm" >

                <div class="container" >

                  <img class="img_redonda"  src="./assets/organizar/congress.jpg" >
                  <div class="text_imagen" >
                    <h5>M_CONGRESS</h5>
                    <p>
                      Plataforma de conferencias tradicionales o 360 grados,
                      adaptadas al tipo de exposición definido.

                    </p>
                  </div>
                </div>

              </div>

              <div class="col-sm" >

                <div class="container" >

                  <img class="img_redonda"  src="./assets/organizar/hackathon.jpg" >
                  <div class="text_imagen" >
                    <h5>M_HACKATHON</h5>
                    <p>
                      Desafíos enfocados en brindar soluciones a propuestas puntuales a
                      través del uso de nuevas tecnologías y conocimientos.
                    </p>
                  </div>
                </div>

              </div>

              <div class="col-sm" >

                <div class="container" >

                  <img class="img_redonda"  src="./assets/organizar/coffee.jpg" >
                  <div class="text_imagen" >
                    <h5>M_COFFEE</h5>
                    <p>
                      Espacio de presentación entre dos asistentes, previamente acordado brindando
                      la posibilidad de futuros contactos profesionales.
                    </p>
                  </div>
                </div>

              </div>
          </div>
      </div>
  </div>
  <div id="diagonal_abajo" class="contenido" style="">
      <div class="container">
            <div class="text_superior">

            </div>
      </div>
  </div>
</div>
