<div id="main">
	<div class="contenido" >
		<div class="container" >
			<p></p>
			<div class="row">
				<div class="column float-left" >
					<img src="assets/eventos/chile-test.jpg" class="img-thumbnail rounded " width="300">
				</div>
				<div class="column">
					<h1>Logo Congreso/Workshop</h1>
					<h3>Breve descripcion del evento y del Organizador</h3>
					<div class="row">
						<h4>Seguinos en</h4>
						<div id="icon"><img src="assets/icon/facebook.png" /></div>
						<div id="icon"><img src="assets/icon/instagram.png" /></div>
						<div id="icon"><img src="assets/icon/whatsapp.png" /></div>
						<div id="icon"><img src="assets/icon/youtube.png" /></div>
						<div id="icon"><img src="assets/icon/twitter.png" /></div>
					</div>
				</div>
				<div class="column float-right">
					<button type="button" class="btn btn-primary test">Participar</button>
				</div>
			</div>
			<div>
				<h1>Expositores</h1>
				<div class="row">
					<div class="column">
						<div class="row">
							<div class="column">
								<img src="assets/nosotros/fernanda2.jpg" class="img-thumbnail rounded " width="200">
							</div>
							<div class="column">
								<p>Nombre y Apellido<p>
									<p>Descripcion del expositor<p>
									</div>
								</div>
								<div class="row">
									<div class="column">
										<img src="assets/nosotros/jona2.jpg" class="img-thumbnail rounded " width="200">
									</div>
									<div class="column">
										<p>Nombre y Apellido<p>
											<p>Descripcion del expositor<p>
											</div>
										</div>
									</div>
									<div class="column float-left">
										<div class="row">
											<div class="column">
												<img src="assets/nosotros/fernanda2.jpg" class="img-thumbnail rounded " width="200">
											</div>
											<div class="column">
												<p>Nombre y Apellido<p>
													<p>Descripcion del expositor<p>
													</div>
												</div>
												<div class="row">
													<div class="column">
														<img src="assets/nosotros/fernanda2.jpg" class="img-thumbnail rounded " width="200">
													</div>
													<div class="column">
														<p>Nombre y Apellido<p>
															<p>Descripcion del expositor<p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="column">
													<h1>Quiere ser Partner del evento?</h1>
													<p>Redacción de una referencia de lo que podría ganar al exhibirse en nuestro evento</p>
												</div>
												<div class="column float-left">
													<button type="button" class="btn btn-primary">Ser partner</button>
												</div>
											</div>
										</div>
									</div>
								</div>

