.div-img{
    position: relative;
    height: 210px;
    margin-top: 30px;
    color:black;
    text-shadow: 1px 1px 2px black;
}
.img_redonda{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    z-index: 1;
    max-width: 100%;
}
.text_imagen{
  position: relative;
  text-align: center;
  color:black;
  text-shadow: 1px 1px 2px black;
  margin-top: 25px;
}
